<div class="row">
    <div class="col-6" ng>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{graficos.grafico1.leyenda}}</h5>

                <app-grafico-dona [graficos]="graficos.grafico1" [doughnutChartLabels]="graficos.grafico1.labels" [doughnutChartData]="graficos.grafico1.data"></app-grafico-dona>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{graficos.grafico2.leyenda}}</h5>

                <app-grafico-dona [graficos]="graficos.grafico2" [doughnutChartLabels]="graficos.grafico2.labels" [doughnutChartData]="graficos.grafico2.data"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{graficos.grafico3.leyenda}}</h5>

                <app-grafico-dona [graficos]="graficos.grafico3" [doughnutChartLabels]="graficos.grafico3.labels" [doughnutChartData]="graficos.grafico3.data"></app-grafico-dona>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{graficos.grafico4.leyenda}}</h5>

                <app-grafico-dona [graficos]="graficos.grafico4" [doughnutChartLabels]="graficos.grafico4.labels" [doughnutChartData]="graficos.grafico4.data"></app-grafico-dona>

            </div>
        </div>
    </div>
</div>